## Zip function

In [19]:
list_one = [6, 12, 8, 10, 20, 16, 80]
list_two = [5, 4, 3, 2, 1, 5]

list(zip(list_one, list_two))

[(6, 5), (12, 4), (8, 3), (10, 2), (20, 1), (16, 5)]

## Map function

In [20]:
list_one = [1, 4, 9, 16, 25]
list_two = map(str, list_one)

list(list_two)

['1', '4', '9', '16', '25']

## Filter Function

In [21]:
def positive(v):
    return v > 0

values = [10, 4, -1, 3, 5, -9, -11]
list(filter(positive, values))

[10, 4, 3, 5]

### Lambda

In [22]:
values = [1, -2, 17, 10, 4, -1, 3, 5, -9, -11]

list(filter(lambda v: v > 0, values))

[1, 17, 10, 4, 3, 5]

## Reduce Function

In [17]:
import operator
from functools import reduce

numbers = [1, 2, 3, 4, 5]
multiplication = reduce(operator.mul, numbers)

120

## Any & All Functions

In [6]:
# Checking whether all elements in the list are lower than 10
int_list = [2, 6, 4, 7, 9]

all(i < 10 for i in int_list)

True

In [7]:
# Checking whether any element in the sequence is even
int_list = [5, 1, 3, 8, 9]
any(i % 2==0 for i in int_list)

True

## Enumerate

In [2]:
str_list = ['eat', 'sleep', 'code']

list(enumerate(str_list))

[(0, 'eat'), (1, 'sleep'), (2, 'code')]

In [3]:
# changing start index to 10
list(enumerate(str_list, 10))

[(10, 'eat'), (11, 'sleep'), (12, 'code')]

## List Tricks

In [11]:
list_1 = [2, 4, 3, 'john'] # lists can contain different variable types
list_2 = [5, 2, 7, 3]

list_3 = list_1 + list_2
print(list_3)
print(list_3.count(3))

[2, 4, 3, 'john', 5, 2, 7, 3]
2

## Tuple

In [6]:
# Tuples are similar to lists, except Tuples are immutable
tup = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(tup)

print('foo' in tup)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
True